$body-bg-color:#ffffff;
$headers-font: 'Source Sans Pro', sans-serif;
$main-text-color: #2c2f3c;
$main-font-stack:'Hind', sans-serif;
$text-hightlite-color: #14a0c7;
$bg-img: url(../img/m-h-day.jpg);
$btn-color: #699900;
$btn-text-color: #ffffff;
$section-card-color: #21232e;
$card-heading-text-color: #ffffff;
$inner-text-color: #c0c3ce;
$banner-gradient: linear-gradient(45deg, #699900, #2b59dc);
$footer-bg-color: #21232e;