@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
body {
  color: #000000;
  margin: 0;
  font-family: 'Open Sans'; }

.clear-fix::after {
  content: "";
  display: table;
  clear: both; }

a {
  color: #000000;
  text-decoration: none; }

header {
  height: 928px;
  color: #ffffff;
  background: url("../img/sample2.jpg") no-repeat;
  background-size: auto 928px;
  background-size: cover; }
  header a {
    color: #ffffff; }
  header .header-upper {
    height: 68px;
    font-size: 18px; }
    header .header-upper .header-logo {
      letter-spacing: 3px;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 50px 0 0 65px; }
      header .header-upper .header-logo p {
        margin: 0; }
    header .header-upper .header-login {
      box-sizing: border-box;
      width: 50%;
      padding: 50px 70px 0 0;
      float: right; }
      header .header-upper .header-login .login-links {
        float: right; }
        header .header-upper .header-login .login-links .signup {
          padding-left: 70px; }
  header .header-center {
    text-align: center;
    margin: 262px;
    margin-bottom: 222px; }
    header .header-center .header-title {
      letter-spacing: 12px;
      font-size: 60px;
      margin: 0; }
      header .header-center .header-title span {
        font-size: 110px; }
    header .header-center .header-text {
      letter-spacing: 0.8px;
      font-size: 16px;
      margin-top: 5px; }
  header .menu-wraper ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px; }
    header .menu-wraper ul.menu .menu-item {
      font-size: 18px;
      background-color: #000000;
      padding: 20px 100px;
      border: 2px solid #ffffff; }
      header .menu-wraper ul.menu .menu-item:hover {
        background-color: #1a1a1a; }

main section {
  padding: 0 65px 0 65px; }
main .about {
  display: grid;
  grid-template-rows: 40% 50%;
  grid-template-columns: 50% 50%;
  height: 300px; }
  main .about .black-text {
    grid-column: 2;
    grid-row: 1; }
    main .about .black-text p {
      margin: 0;
      text-align: left;
      font-size: 18px;
      padding-left: 20px; }
  main .about .white-text {
    grid-column: 1;
    grid-row: 2; }
    main .about .white-text p {
      margin: 8px 0;
      font-size: 24px;
      letter-spacing: -1px; }
main .featured-articles {
  padding-bottom: 105px;
  background-color: #f3f3f3; }
  main .featured-articles h2 {
    position: relative;
    letter-spacing: 0.5px;
    bottom: 44px;
    font-size: 30px;
    margin: 0;
    text-align: center; }
  main .featured-articles .article-wraper {
    height: 755px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap: 25px; }
    main .featured-articles .article-wraper img {
      width: 100%;
      height: 100%; }
    main .featured-articles .article-wraper .article-text:nth-child(2) p {
      margin: 0;
      padding: 30px 15px 28px 110px;
      font-size: 18px;
      letter-spacing: -0.1px;
      text-align: right; }
    main .featured-articles .article-wraper .article-text:nth-child(3) p {
      margin: 0;
      padding: 25px 110px 33px 15px;
      font-size: 18px;
      letter-spacing: -0.1px;
      text-align: left; }
main .gallery {
  padding: 0 45px 45px; }
  main .gallery .gallery-wraper {
    display: flex;
    justify-content: space-between; }
    @media screen and (min-width: 320px) and (max-width: 1520px) {
      main .gallery .gallery-wraper {
        flex-wrap: wrap; } }
    main .gallery .gallery-wraper .gallery-item {
      padding: 45px 40px 65px;
      height: 380px;
      width: 330px; }
      main .gallery .gallery-wraper .gallery-item img {
        object-fit: cover;
        height: 100%;
        width: 100%; }
      main .gallery .gallery-wraper .gallery-item button {
        font-size: 18px;
        font-weight: bold;
        background-color: #097774;
        border: none;
        color: #ffffff;
        opacity: 0.8;
        position: relative;
        bottom: 215px;
        left: 10px;
        width: 255px;
        height: 45px; }
        main .gallery .gallery-wraper .gallery-item button:hover {
          background-color: #0da6a2; }
        main .gallery .gallery-wraper .gallery-item button:hover {
          opacity: 1; }
  main .gallery .load-news-btn {
    text-align: center;
    margin: auto; }
    main .gallery .load-news-btn button {
      letter-spacing: 1px;
      font-size: 16px;
      width: 380px;
      height: 60px;
      background-color: #097774;
      border: none;
      color: #ffffff; }
      main .gallery .load-news-btn button:hover {
        background-color: #0da6a2; }

footer .footer-wraper {
  height: 255px;
  background-color: #f3f3f3; }
  footer .footer-wraper p {
    font-size: 18px;
    margin: 0;
    padding: 55px 30px 15px; }
  footer .footer-wraper .subscribe {
    float: right; }
    footer .footer-wraper .subscribe p {
      margin-top: 5px;
      display: inline-block;
      letter-spacing: 1px;
      font-size: 28px;
      padding: 0; }
      footer .footer-wraper .subscribe p b {
        letter-spacing: 1.5px; }
    footer .footer-wraper .subscribe form {
      display: inline-block;
      padding-right: 35px; }
      footer .footer-wraper .subscribe form #email {
        margin-left: 30px;
        border: 1px solid #000000;
        width: 175px;
        height: 45px;
        font-size: 18px;
        padding: 0 0 0 10px;
        letter-spacing: -0.5px; }
      footer .footer-wraper .subscribe form #subscribe {
        background-color: #097774;
        border: none;
        color: #ffffff;
        font-weight: bold;
        margin-left: 5px;
        font-size: 18px;
        width: 105px;
        height: 45px; }
        footer .footer-wraper .subscribe form #subscribe:hover {
          background-color: #0da6a2; }
footer .footer-cr .copyright {
  float: left;
  font-size: 18px; }
footer .footer-cr .footer-menu {
  list-style: none;
  float: right; }
  footer .footer-cr .footer-menu .footer-item {
    font-size: 18px;
    float: right;
    padding-left: 30px; }
