/* .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
} */

body {
    margin: 5%;
}

.header-title {
    text-align: center;
    color: #41b5fe;
}

hr {
    border: 3px solid #e4f2fe;
}

input[type="text"] {
    border: 1px solid #c8d0d8;
    border-radius: 2px;
    padding: 20px;
}

.input-wraper {
    display: flex;
    align-items: center;
}

.input-wraper input {
    box-sizing: border-box;
    min-width: 90%;
}

.input-wraper i {
    text-align: center;
    box-sizing: border-box;
    min-width: 10%;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-blue {
    color: #41b5fe;
    cursor: pointer;
}

.material-icons.md-blue.md-inactive {
    color: #c8d0d8;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-between;
}

span.item {
    display: flex;
    align-items: center;
    font-weight: bold;
}

span.text {
    color: #41b5fe;
}

.do-it-in-js {
    height: 0px;
}