$body-bg-color:#21232e;
$main-text-color: #ffffff;
$headers-font: 'Source Sans Pro', sans-serif;
$main-font-stack: 'Fresca', sans-serif;
$logo-font: 'Fresca', sans-serif;
$text-hightlite-color: #ff4e33;
$bg-img: url(../img/m-h-night.jpg);
$btn-color: #e3ac00;
$btn-text-color: #ffffff;
$section-card-color: #3b3f50;
$card-heading-text-color: #ffffff;
$inner-text-color: #c0c3ce;
$banner-gradient: linear-gradient(45deg, #e2ab02, #932d53);
$footer-bg-color: #3b3f50;